.home-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.home-heading {
  font-size: 3rem;
  font-weight: 700;
}

.home-text {
  font-size: 1.2rem;
  max-width: 600px;
  color: #555;
}

.home-button {
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: black;
  color: white;
  transition: 0.2s ease;
}

.home-button:hover {
  transform: scale(1.05);
}